body, html {
    height: 100%;
  
}

.hero-image {
  
  background-image: url("/images/Anthony.jpeg");

  
  height: 100%;
  width:100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}





body {
  border: 6px solid rgba(255, 238, 0, 0.743);
  padding:0rem;
  background: rgba(226, 168, 117, 0.812);
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom:2px;  
  
}
header h1{
    text-align:center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
Header P{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


img{
  max-width:100%;
    background-color: aliceblue;
    display: block;
  margin-left: auto;
  margin-right: auto;
 box-sizing: content-box;  
  width: 300px;
  height: 300px;
  padding: 4px;  
  border: 10px solid blue;
  border-radius: 100%;
  margin-top: 9rem;
}


aside{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

aside ul {
   font-size: large; 
  display: inline-block;
  text-align: left;
  box-sizing: content-box;  
  width: auto;
  height: auto;
  padding: 30px;  
  border: 5px solid blue;
  background-color: #f4f88aaf;
  
}
h2{
  font-size: 30px;
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
}
article p{
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding:1rem
  
}
footer a{
    line-height: 3;
}

/* ------------Mobile------------*/

@media (max-width: 480px) {
  body { background-color: blue; }
  h2{
font-size: 30px;
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
}
}

    

/* ------------Tablet------------*/
@media only screen and (max-width: 769px){
  body { background-color: red; }
  h2{
font-size: 30px;
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
}
  
}

/* ------------Desktop------------*/
@media only screen and (max-width: 1024px){
  body { background-color: yellow; }
h2{
font-size: 30px;
  background-color: #ccc;
  margin: 3px;
  padding: 3px;
}
}